<a href="/messages/new">Post a message... It's FREE (for now)!</a>

<% @messages.each do |message| %>
  <div class="message">
    <h3>
      <a href="/messages/<%= message.id %>">
        <%= message.id   %>
      </a>By: <%= message.author %>
    </h3>
  <p>
    <%= message.content %><br/><br/>
    <a href="<%= message.link %>"><%= message.link %></a>
  </p>  
</div>
<% end %>
