<h1><%= @message.id %>   --   <%=  @message.created_at %></h1>

<p>
  Author: <%= @message.author %>
</p>

<p>
  Link: <%= @message.link %>
</p>

<p>
  <%= @message.content %>
</p>


  <% @author_messages.each do |m| %> 
  <p>
  <%= m.content %>
  </p>

  <% end %>

<hr/>
<a href="/messages">Back to All Messages</a>

